@{
    ViewData["Title"] = "Access denied";
    ViewData["PageType"] = "account-page";
    ViewData["NavClass"] = "navbar navbar-expand-lg bg-white fixed-top";
}

<header>
    <h2 class="text-danger">ViewData["Title"]</h2>
    <p class="text-danger">You do not have access to this resource.</p>
</header>
