@{
    ViewData["Title"] = "Confirm email";
    ViewData["PageType"] = "account-page";
    ViewData["NavClass"] = "navbar navbar-expand-lg bg-white fixed-top";
}

<h2>@ViewData["Title"]</h2>
<div>
    <p>
        Thank you for confirming your email.
    </p>
</div>
