@{
    ViewData["Title"] = "Signed out";
    ViewData["PageType"] = "account-page";
    ViewData["NavClass"] = "navbar navbar-expand-lg bg-white fixed-top";
}

<h2>@ViewData["Title"]</h2>
<p>
    You have successfully signed out.
</p>
