@using OpenAvv.Views.Manage
@inject SignInManager<OpenAvvUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}

<ul class="nav nav-pills nav-pills-primary flex-column" >
    <li class="nav-item">
        <a class="nav-link @ManageNavPages.IndexNavClass(ViewContext)"  asp-controller="Manage" asp-action="Index">Profile</a>
    </li>
    <li class="nav-item">
        <a class="nav-link @ManageNavPages.ChangePasswordNavClass(ViewContext)" asp-controller="Manage" asp-action="ChangePassword">Password</a>
    </li>
    @if (hasExternalLogins)
    {
        <li class="nav-item">
            <a class="nav-link @ManageNavPages.ExternalLoginsNavClass(ViewContext)" asp-controller="Manage" asp-action="ExternalLogins">External logins</a>
        </li>
    }
    <li class="nav-item">
        <a class="nav-link @ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)" asp-controller="Manage" asp-action="TwoFactorAuthentication">Two-factor authentication</a>
    </li>
</ul>

@*<ul class="nav nav-pills nav-pills-primary flex-column" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#link4" role="tablist">
            Profile
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" role="tablist" href="#link5">
            Settings
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#link6" role="tablist">
            Options
        </a>
    </li>
</ul>*@