@using Microsoft.AspNetCore.Identity
@using OpenAvv.Data.Models

@inject SignInManager<OpenAvvUser> SignInManager
@inject UserManager<OpenAvvUser> UserManager

@if (SignInManager.IsSignedIn(User))
{

    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="Manage" asp-action="Index" title="Manage">
                <p>Hello @UserManager.GetUserName(User)!</p>
            </a>
        </li>
        <li class="nav-item">
            <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm">
                <button type="submit" class="nav-link btn btn-primary">Log out</button>
            </form>
        </li>
    </ul>

}
else
{
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Register">
                <p>Register</p>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Login">
                <p>Log in</p>
            </a>
        </li>
    </ul>
}
